.generalContainer {
    background-color: #f2f2f2;
/*Debe ir w-full*/
    @apply flex flex-col w-screen h-screen
    Mobile-390*844:w-screen Mobile-390*844:h-screen Mobile-390*844:overflow-y-auto
    Mobile-280:w-screen Mobile-280:h-screen
    ;
}

.headerContainer{
    @apply sticky top-0 z-10 w-screen bg-white bottom-2 stroke-black shadow-md;
}


.bodyContainer {

    background-color: #f2f2f2;

    @apply flex flex-col w-screen mx-auto my-5 h-screen;
}

.allContentContainer {
    @apply flex flex-row justify-normal mx-10 w-auto;
/**/
}

.pageContentContainerCol {
    @apply flex flex-col items-center justify-center w-full mx-5
    Mobile-390*844:w-auto Mobile-390*844:mx-auto Mobile-390*844:justify-center Mobile-390*844:items-center Mobile-390*844:max-h-max Mobile-390*844:overflow-y-auto
    Mobile-280:w-auto Mobile-280:mx-auto Mobile-280:justify-center Mobile-280:items-center
    ;

}

.pageContentContainerRow {
    @apply flex flex-row w-full items-center justify-center mx-auto
    Mobile-390*844:flex-col-reverse Mobile-390*844:w-full Mobile-390*844:mx-2 Mobile-390*844:justify-center Mobile-390*844:items-center Mobile-390*844:max-h-max Mobile-390*844:overflow-y-auto
    Mobile-280:flex-col-reverse Mobile-280:w-full Mobile-280:mx-2 Mobile-280:justify-center Mobile-280:items-center
    ;

}

.TitleContainer {
    @apply flex w-full items-center justify-center mx-2 my-2;
}

.SubtitleContainer {
    @apply flex w-full items-center justify-center mx-2
    Mobile-390*844:mx-0 Mobile-390*844:my-2
    Mobile-280:mx-0 Mobile-280:my-2;
}

/*--------------------*/

.quickAddButton {

    @apply w-auto h-auto flex flex-row justify-center
    rounded-full px-12 my-4 hover:shadow-2xl hover:bg-gray-400 mx-2 max-w-80
    PC-1280*720:my-0 PC-1280*720:mx-2 PC-1280*720:px-4
    PC-800*600:my-0 PC-800*600:mx-2 PC-800*600:px-4 PC-800*600:w-auto PC-800*600:h-auto
    PC-640*480:my-0 PC-640*480:mx-2 PC-640*480:px-4 PC-640*480:w-auto PC-640*480:h-auto
    Mobile-390*844:my-0 Mobile-390*844:mx-2 Mobile-390*844:px-20 Mobile-390*844:w-auto Mobile-390*844:h-auto
    Mobile-280:my-0 Mobile-280:mx-2 Mobile-280:px-20 Mobile-280:w-auto Mobile-280:h-auto
    IpadAir:my-0 IpadAir:mx-0 IpadAir:px-4 IpadAir:w-auto IpadAir:h-auto
}
