.form {
    background-color: rgba(28, 11, 140, 0.2);

    @apply flex flex-col justify-center px-14 py-20 ml-8 my-8 
    rounded-md items-center border-2 border-white shadow-md
    Mobile-390*844:px-8 Mobile-390*844:py-5 Mobile-390*844:items-center
    Mobile-280:px-6 Mobile-280:py-5 Mobile-280:items-center
    ;

}

.input-container {
    @apply flex flex-col justify-center mb-12 w-56 Mobile-390*844:w-60
    items-center mx-auto
    ;

}

.label {
    @apply text-black text-left;

}

.input {
    @apply flex justify-center bg-white text-black shadow-md h-10 p-2 mx-auto rounded-md border border-gray-300 items-center;

}

.button-container {
    @apply flex justify-center;

}

.submit-button {
    @apply bg-indigo-900 text-white rounded-lg py-2 px-12;

}

.ContainerRow {
    @apply flex flex-row w-full items-center justify-center mx-auto pt-14
    
    PC-640*480:flex-col PC-640*480:w-full PC-640*480:items-center PC-640*480:justify-center
    Mobile-390*844:flex-col-reverse Mobile-390*844:w-full Mobile-390*844:mx-2 Mobile-390*844:justify-center Mobile-390*844:items-center Mobile-390*844:max-h-max Mobile-390*844:overflow-y-auto
    Mobile-280:flex-col-reverse Mobile-280:w-full Mobile-280:mx-2 Mobile-280:justify-center Mobile-280:items-center
    ;

}