.generalContainer 
{
    @apply flex items-center self-center justify-center h-screen w-screen bg-auto bg-no-repeat opacity-100
}

.infoContainer 
{       
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @apply 
    my-auto mx-auto
    Mobile-390*844:flex Mobile-390*844:flex-col Mobile-390*844:self-center 
    Mobile-390*844:my-auto Mobile-390*844:mx-auto 
    sm:self-center

}

.systemText
{
    color: #000;
    padding: 2;

    @apply sm:text-3xl text-2xl text-center mt-5 mb-5 font-masferrerTitle font-bold
}

.systemsubText
{
    color: #000;
    padding: 2;

    @apply sm:text-2xl text-xl text-center mt-5 font-masferrer font-semibold
}

.logoImg 
{
    @apply   mx-auto mb-14
}

.logoFormContainer{
    background-color: #F2F2F2;
    border-radius: 2% 2% 2% 2%;

    height: 90vh;
    width: 40vw;

    @apply  
    bg-blue-gray-50
    me-auto ms-auto text-center self-center flex flex-col justify-center
    Mobile-390*844:w-auto Mobile-390*844:flex-col Mobile-390*844:justify-center Mobile-390*844:mx-auto
}

.miniLogo{
    @apply flex items-center gap-2 mx-auto self-center -mt-24 mb-10
}

.titleForm{
    color: #000;

    @apply sm:text-3xl text-2xl text-center mt-3 mb-14 font-masferrerTitle font-bold
}

.subtitleForm{
    color: #454545;

    @apply sm:text-xl text-xl text-center mt-5 font-masferrer font-normal
}


.form {
    position: relative;
    @apply flex flex-col justify-center  py-10 rounded-md;
}

.input-container {
    @apply m-auto flex flex-col justify-center mb-7 ;
}

.label {
    font-family: 'RobotoSemiBold';
    @apply text-black text-left;
}

.input {
    @apply bg-white text-black shadow-md p-2 rounded-md border border-gray-300 h-min w-80;
}

.button-container {
    @apply flex justify-center;
}

.submit-button {
    @apply bg-indigo-900 text-white rounded-lg py-2 px-12;
}

.forgot-password{
    @apply flex content-center justify-self-center place-content-center mt-4 text-darkblueMasferrer;
}